<div class="mt-5">
  <form method="POST">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Search</label>
      <input
        type="text"
        name="p"
        class="form-control"
        id="search-input"
        placeholder="Search ...."
      />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>